<main>
  <a routerLink="/pokemons" class="go-back">Voltar</a>

  <div class="container">
    @if (pokemon) {
    <div class="pokemon">
      <h2 class="capitalize">{{ pokemon.name }}</h2>
      <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}" />

      <div class="">
        <p>Experiência Base: {{ pokemon.base_experience }}</p>
        <p>Altura: {{ pokemon.height }}</p>
        <p>Peso: {{ pokemon.weight }}</p>
        <p>Habilidades:</p>
        <ul>
          <li *ngFor="let ability of pokemon.abilities" class="capitalize">
            {{ ability.ability.name }}
          </li>
        </ul>
      </div>
    </div>
    } @else {
    <p>Carregando...</p>
    }
  </div>
</main>
