<header class="header">
  <nav class="flex row justify-between items-center">
    <a href="/" aria-label="Go home" class="logo">
      <img src="../../../assets/pokeapi.png" alt="PokéApi" />
    </a>

    <ul class="flex gap-3 items-center justify-center">
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li>
        <a routerLink="/pokemons" routerLinkActive="active">Pokemons</a>
      </li>
      <li>
        <a routerLink="/geracoes" routerLinkActive="active">Gerações</a>
      </li>
      <li><a routerLink="/contato" routerLinkActive="active">Contato</a></li>
    </ul>
  </nav>
</header>
