@import "../../variables.scss";

.pokemon-card {
  background-color: $secondary;
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid $primary;
  text-decoration: none;
  color: black;
}

.name {
  text-transform: capitalize;
  font-weight: bold;
}
