@import "../../variables.scss";

main {
  flex: 1;
}

.select {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  font-weight: bold;

  select {
    padding: 0.25rem;
    border-color: $primary;
    font-weight: bold;
    border-radius: 12px;

    option {
      font-weight: bold;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;

  button {
    padding: 0.5rem 1rem;
    border-radius: 12px;
    border-color: $primary;
    font-weight: bold;

    cursor: pointer;
  }
}
